<!doctype html>
<html>
    <head>
        <title>Download Complete</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    </head>
    <body>
        <h1>Arquivo pronto ✅</h1>
        <p>Seu arquivo está pronto para download.</p>
        
        <!-- Enlace para descargar el archivo -->
        <a id="download-link" href="/completed" download="resultados.csv">Baixar 🗃️</a>

        <script>
            // Ejecutar automáticamente el enlace de descarga
            document.getElementById('download-link').click();
        </script>
    </body>
</html>